---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SearchBar from "../components/SearchBar.astro";
import MovieCard from "../components/MovieCard.astro";
import "../styles/global.css";
---

<Layout title="Letterboxd">

<Header />

<main>

<section class="hero">
  <h2>Catálogo de Películas</h2>
</section>

<SearchBar />

<section class="catalog">
  <div class="grid">

<MovieCard title="Interstellar" genre="Ciencia ficción" name="interstellar" />
<MovieCard title="Inception" genre="Thriller" name="inception" />
<MovieCard title="Avatar" genre="Aventura" name="avatar" />
<MovieCard title="Joker" genre="Drama" name="joker" />
<MovieCard title="Barbie" genre="Comedia" name="barbie" />
<MovieCard title="Oppenheimer" genre="Historia" name="oppenheimer" />

<MovieCard title="The Matrix" genre="Ciencia ficción" name="matrix" />
<MovieCard title="Titanic" genre="Romance" name="titanic" />
<MovieCard title="Gladiator" genre="Acción" name="gladiator" />
<MovieCard title="Parasite" genre="Drama" name="parasite" />
<MovieCard title="The Batman" genre="Acción" name="batman" />
<MovieCard title="Fight Club" genre="Drama" name="fightclub" />
<MovieCard title="The Godfather" genre="Crimen" name="godfather" />
<MovieCard title="Avengers" genre="Acción" name="avengers" />
<MovieCard title="Harry Potter" genre="Fantasía" name="harrypotter" />
<MovieCard title="Toy Story" genre="Animación" name="toy story" />

  </div>
</section>

</main>

</Layout>